* {
  font-family: Roboto;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
.app-wrapper {
  height: 100%;
}

.route-wrapper {
  height: 95vh;
  width: 100%;
}

.landing-page {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: start;
  padding-top: 15vh;
}

.landing-gradient {
  background: linear-gradient(359deg, #ea8a48, #f2bc50);
  background-size: 400% 400%;

  -webkit-animation: GradientAnimation 13s ease infinite;
  -moz-animation: GradientAnimation 13s ease infinite;
  animation: GradientAnimation 13s ease infinite;
}

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-moz-keyframes GradientAnimation {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes GradientAnimation {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

.loading-screen {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}
